<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <style>
        body, html {
            height: 100%;
            margin: 20;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000000;
            color: #ffffff; 
        }

        .container {
            text-align: center;
            background-color: pink;
        }

        .card {
            width: 220px;
            height: 300px;
            text-align: center;
        }

        .form {
            padding: 50px;
        }

        .card_header {
            display: flex;
            align-items: center;
            border: 2px solid black ;
            border-bottom: 2px solid black;
        }

        .card svg {
            color: #04040a;
            margin-bottom: 20px;
            margin-right: 5px;
        }

        .form_heading {
            padding-bottom: 15px;
            padding-top: 15px;
            padding-left: 35px;
            font-size: 21px;
            font-style: normal;
            color: #0b0b14;
        }

        .field {
            padding-bottom: 10px;
        }

        .input {
            border-radius: 5px;
            background-color: #e9e9f7;
            padding: 5px;
            width: 100%;
            color: #7a7ab3;
            border: 1px solid #dadaf7
        }

        .input:focus-visible {
            outline: 1px solid #aeaed6;
        }

        .input::placeholder {
            color: #bcbcdf;
        }

        label {
            color: #090e18;
            font-size: 20px;
            display: block;
            padding-bottom: 7px;
        }

        button {
            background-color: #7878bd;
            margin-top: 10px;
            font-size: 14px;
            padding: 7px 12px;
            height: auto;
            font-weight: 500;
            color: white;
            border: none;
        }

        button:hover {
            background-color: #5f5f9c;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/se/changepassword" method="POST" class="form">
            <div class="card">
                <div class="card_header">
                    <div class="form_heading">Change Password</div>
                </div><br><br>
                <div class="field">
                    <label for="Reg_no">Registration Number:</label>
                    <input type="text" id="Reg_no" name="Reg_no" class="input" required>
                </div>
                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="input" required>
                </div>
                <div class="field">
                    <label for="passwords">New Password:</label>
                    <input type="password" id="passwords" name="passwords" class="input" required>
                </div>
                <center>
                    <button type="submit">Change Password</button>
                </center>
            </div>
        </form>
    </div>
</body>
</html>